@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1{
  font-family: Montserrat;
  font-size: 28px
  width: 100%;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

li{
  font: 24px Montserrat, sans-serif;
  display: flex;
}

/* ul {
  display: flex;
} */
